.presentacional{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: auto;
    margin: 2rem 0;
}
.img{
    width: 150px;
}
.link{
    text-decoration: none;
    color: white;
}
.title{
    font-size: 2rem;
}